body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    height: 470px;
    width: 320px;
    background-color: #75D9B5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input {
    height: 50px;
    width: 296px;
    margin-bottom: 10px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    gap: 8px;
}

button {
    background-color: #194339;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}